@use "../../colors"

.contentContainer
    padding: 2rem 40px
    width: 100vw
    display: flex
    flex-flow: column nowrap
    align-items: stretch
    justify-content: flex-start

    & button
        transition: all .3s ease-in
        background-color: transparent
        outline: none
        border: none
        display: flex
        align-items: center
        justify-content: center

        &:hover
            cursor: pointer

.todoLists
    width: 100%
    display: flex
    flex-flow: column nowrap
    align-items: stretch
    justify-content: flex-start
    background-color: colors.$bg-secondary
    border: 1px solid colors.$border-primary
    border-radius: 3px
    padding: 10px

    & > h2
        margin: 0
        font-size: 24px
        line-height: 1.5
        font-weight: 500
        text-transform: uppercase
        text-align: center

    & > * + *
        margin-block-start: 20px

    & > .addTodoListButton
        width: auto
        align-self: flex-start
        border: 1px solid colors.$border-primary
        padding: 5px 10px
        text-transform: uppercase
        border-radius: 4px

        & > svg
            margin-inline-start: 5px
            color: colors.$icon-green

        &:hover
            background-color: colors.$bg-hover

.todoList
    width: 100%
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    height: 50px

    & > *
        height: 100%

    & > * + *
        margin-inline-start: 20px

    .todoListMeta
        flex: 1
        display: flex
        align-items: center
        justify-content: flex-start
        border: 1px solid colors.$border-primary
        border-radius: 4px
        transition: all .3s ease-in

        & > * + *
            margin-inline-start: 5px

        &:hover
            background-color: colors.$bg-hover

        & > svg
            color: colors.$icon-green

        .chip
            display: inline-flex
            align-items: center
            height: 60%
            margin-inline-start: 10px
            border: 1px solid colors.$icon-green
            padding: 10px
            border-radius: 20px
            font-size: 8px

    .deleteTodoListButton
        color: colors.$icon-blood

// ** media condition
@media screen and (min-width: 760px)
    .contentContainer
        width: 760px
